#ingredientModal.modal{"aria-hidden" => "true", "aria-labelledby" => "exampleModalCenterTitle", :role => "dialog", :tabindex => "-1"}
  = render 'components/modal', title: "Créer un ingrédient", content: render('admin/ingredients/new')

%h2= "Admin"
.category
  %h3= "Recettes"
  .actions
    = link_to(new_admin_recipe_path) do
      .action
        Créer une recette
    = link_to(admin_recipes_path) do
      .action
        Éditer une recette existante
.category
  %h3= "Ingrédients"
  .actions
    %button.root_create_ingredient{"data-target" => "#ingredientModal", "data-toggle" => "modal", :type => "button"}
      Créer un ingrédient
