%h2= "Admin"
.category
  %h3= "Recettes"
  .actions
    = link_to(new_admin_recipe_path) do
      .action
        Créer une recette
    = link_to(admin_recipes_path) do
      .action
        Éditer une recette existante
.category
  .title
    %h3= "Ingrédients"
  .actions
    = link_to(admin_root_path) do
      .action
        Créer un ingrédient
    = link_to(admin_root_path) do
      .action
        Ajouter une unité de mesure à un ingrédient existant
