.nested-fields
  .ingredient-fields-line
    .ingredient-field.quantity
      = f.input :quantity, label: false, placeholder: "200"
    .ingredient-field.unit-name
      - sorted_units = Unit.order(:name)
      = f.association :unit, label: false, placeholder: "g", as: :select, collection: sorted_units
    .ingredient-field.ingredient-name
      - sorted_ingredients = Ingredient.order(:name)
      = f.association :ingredient, label: false, as: :select, collection: sorted_ingredients
    .ingredient-field.delete-btn
      = link_to_remove_association(f) do
        %i.fas.fa-times-circle
  .ingredient-fields-line
    .ingredient-field.comment
      = f.input :comment, label: false, placeholder: "De préférence à température ambiente", input_html: { class: "ingredient-comment-field" }
