%h2 Nouvelle recette

#ingredientModal.modal{"aria-hidden" => "true", "aria-labelledby" => "exampleModalCenterTitle", :role => "dialog", :tabindex => "-1"}
  = render 'components/modal', title: "Créer un ingrédient", content: render('admin/ingredients/new')

= simple_form_for [:admin, @recipe] do |f|
  %h3 Nom
  = f.input :name, label: false, placeholder: "Gougères au comté"
  .ingredient-title-container
    %h3 Ingrédients
    %button.create-ingredient{"data-target" => "#ingredientModal", "data-toggle" => "modal", :type => "button"}
      Créer un ingrédient
  #recipe_ingredients
    = f.simple_fields_for :recipe_ingredients do |recipe_ingredient|
      = render 'recipe_ingredient_fields', f: recipe_ingredient
    .links.add-ingredient
      = link_to_add_association(f, :recipe_ingredients) do
        %i.fas.fa-plus-circle
  %h3 Contenu
  = f.input :content, as: :rich_text_area, label: false

  .submit-container
    = f.button :submit, "Créer", class: 'submit'

.alert-container
  .alert.alert-success.fade.in.show{role: "alert"}
    %i.fas.fa-check
    %span=" "
    %span="Ingrédient créé"
