- content_for :meta_title, @recipe.name
- if @recipe.picture.attachment
  - recipe_picture = cl_image_path(@recipe.picture.key)
  - content_for :meta_image, recipe_picture

- if @recipe.picture.attachment
  - url = cl_image_path @recipe.picture.key
  .cover-picture.recipe-picture{style: "background-image:url(#{url})"}

%h3= @recipe.name

.ingredients
  .flex
    %h4.underlined Ingrédients
    - if @recipe.portions
      %span
        %h5.margin-left-md= "- #{@recipe.portions} portion(s)"
  = render 'components/ingredients_list'

%h4.underlined Recette
.margin-left-sm.padding-bottom-lg
  = @recipe.content
