- if @recipe.picture.attachment
  .recipe-picture
    = cl_image_tag @recipe.picture.key, width: 902, height: 600, crop: :fill, id: "recipe-picture"

%h3= @recipe.name

.flex
  %h4.underlined Ingrédients
  - if @recipe.portions
    %span
      %h5.margin-left-md= "- #{@recipe.portions} portion(s)"
= render 'components/ingredients_list'

%h4.underlined Recette
.margin-left-sm.padding-bottom-lg
  = @recipe.content
