= simple_form_for [:admin, @wine] do |f|
  %h4 Nom
  = f.input :name, label: false, placeholder: "Romanée-Conti Millésime 1945"
  %h3 Infos
  .details-section
    %h4 Robe
    = f.hidden_field :color, value: "red"
    .color-labels{ data: { color: @wine.color.to_s } }
      .color-label.selected#red-label
      .color-label#white-label
      .color-label#rose-label
    %h4 Labels
    = f.hidden_field :is_natural, value: "false"
    = f.hidden_field :is_organic, value: "false"
    = f.hidden_field :is_biodynamic, value: "false"
    .process-labels
      .process-label.wine-tag-pill#organic-label{ data: { selected: @wine.is_organic.to_s } }
        Biologique
      .process-label.wine-tag-pill#biodynamic-label{ data: { selected: @wine.is_biodynamic.to_s } }
        En biodynamie
      .process-label.wine-tag-pill#natural-label{ data: { selected: @wine.is_natural.to_s } }
        Nature
  %h3 Tags
  .wine-tags-visible-inputs
  .wine-tags-hidden-inputs
    = f.simple_fields_for :wine_taggings do |wine_tagging|
      = wine_tagging.association :wine_tag, as: :hidden
  %h3 Notes
  .wine-reviews-container
    = f.simple_fields_for :wine_reviews do |wine_review|
      .wine-review-container
        %h4= "User"
        .wine-review
          .wine-review-input
            = wine_review.input :review, label: false, class: "custom-range", id: "customRange2", input_html: { max: "10", min: "-1", type: "range" }
          .wine-review-value
            0
        = wine_review.association :reviewer, as: :hidden
  %h3 Détails
  %h4 Région
  = f.input :region, label: false, placeholder: "Bourgogne"
  %h4 Cépage
  = f.input :variety, label: false, placeholder: "100% Chardonnay"
  %h4 Producteur
  = f.input :producer, label: false, placeholder: "Domaine du Bon Vin"
  %h3 Photo
  - if form == "edit" && @wine.picture.attachment
    = f.input :picture, label: false, input_html: { style: "display:none" }
    = label_tag "wine_picture", @wine.picture.filename, id: "wine-picture-button", class: 'file-chosen'
  - else
    = f.input :picture, label: false, input_html: { style: "display:none" }
    = label_tag "wine_picture", "Choisir un fichier", id: "wine-picture-button"

  .submit-container
    - button_text = form == "new" ? "Créer" : "Sauvegarder"
    = f.button :submit, button_text, class: 'submit'

= render "components/flash"
