- content_for :meta_title, @wine.name
- content_for :meta_description, "🍷 Glouglou, ce vin est validé par Alice et Hugo !"
- if @wine.picture.attachment
  - wine_picture = cl_image_path(@wine.picture.key)
  - content_for :meta_image, wine_picture

- if @wine.picture.attachment
  -url = cl_image_path @wine.picture.key
  .cover-picture.wine-picture{style: "background-image:url(#{url})", class: "#{@wine.color}-border"}
    = cl_image_tag @wine.picture.key, id: "wine-picture"

.wine-show-name-container
  %h3= @wine.name
  .wine-taggings
    - @wine.wine_taggings.each do |wine_tagging|
      .wine-tag-pill{class: "#{@wine.color}-color"}= wine_tagging.wine_tag.name

.wine-show-details
  .wine-show-details-top
    - if @wine.average_review
      .wine-show-reviews
        .wine-show-review.wine-show-average-review
          .wine-show-review-title= "Note"
          - average_review = @wine.average_review
          .wine-show-review-value= average_review % 1 == 0 ? average_review.round : average_review
        .wine-show-personal-reviews
          - @wine.wine_reviews.each do |wine_review|
            .wine-show-review.wine-show-personal-review{class: "#{wine_review.reviewer.name.downcase}-wine-review"}
              .wine-show-review-title= wine_review.reviewer.name
              .wine-show-review-value= wine_review.review
    - if @wine.is_organic || @wine.is_biodynamic || @wine.is_natural
      .wine-show-processes
        .wine-show-processes-title= "Labels"
        .wine-show-processes-content
          - if @wine.is_organic
            .wine-show-process{id: "organic-label"}
              .icon-container{id: "organic-icon"}
                %i.fas.fa-leaf
              %p{id: "organic-text"}= "Bio"
          - if @wine.is_biodynamic
            .wine-show-process{id: "biodynamic-label"}
              .icon-container{id: "biodynamic-icon"}
                %i.fas.fa-moon
              %p{id: "biodynamic-text"}= "Biodynamie"
          - if @wine.is_natural
            .wine-show-process{id: "natural-label"}
              .icon-container{id: "natural-icon"}
                %i.fas.fa-tint
              %p{id: "natural-text"}= "Nature"

  - if !@wine.region.blank?
    %h4= "Région"
    = @wine.region
  - if !@wine.domain.blank?
    %h4= "Viticulteur"
    = @wine.domain
  - if !@wine.variety.blank?
    %h4= "Cépage"
    = @wine.variety
