- content_for :meta_title, @wine.name
- content_for :meta_description, "🍷 Glouglou, ce vin est validé par Alice et Hugo !"
- if @wine.picture.attachment
  - wine_picture = cl_image_path(@wine.picture.key)
  - content_for :meta_image, wine_picture

- if @wine.picture.attachment
  -url = cl_image_path @wine.picture.key
  .cover-picture.wine-picture{style: "background-image:url(#{url})", class: "#{@wine.color}-border"}
    = cl_image_tag @wine.picture.key, id: "wine-picture"

.wine-show-name-container
  %h3= @wine.name
  .wine-taggings
    - @wine.wine_taggings.each do |wine_tagging|
      .wine-tag-pill{class: "#{@wine.color}-color"}= wine_tagging.wine_tag.name

.wine-show-details
  .wine-show-details-top
    - if @wine.average_review
      .wine-show-reviews
        .wine-show-review.wine-show-average-review
          .wine-show-review-title= "Note"
          .wine-show-review-value= @wine.average_review
        .wine-show-personal-reviews
          - @wine.wine_reviews.each do |wine_review|
            .wine-show-review.wine-show-personal-review{class: "#{wine_review.reviewer.name.downcase}-wine-review"}
              .wine-show-review-title= wine_review.reviewer.name
              .wine-show-review-value= wine_review.review
    .wine-show-processes
      - if @wine.is_organic
        .wine-tag-pill.show-pill.selected{id: "organic-label"}= "Biologique"
      - if @wine.is_biodynamic
        .wine-tag-pill.show-pill.selected{id: "biodynamic-label"}= "En biodynamie"
      - if @wine.is_natural
        .wine-tag-pill.show-pill.selected{id: "natural-label"}= "Nature"

  - if !@wine.domain.blank?
    %h4= "Domaine"
    = @wine.domain
  - if !@wine.variety.blank?
    %h4= "Cépage"
    = @wine.variety
