- content_for :meta_title, @wine.name
- content_for :meta_description, "🍷 Glouglou, ce vin est validé par Alice et Hugo !"
- if @wine.picture.attachment
  - wine_picture = cl_image_path(@wine.picture.key)
  - content_for :meta_image, wine_picture

- if @wine.picture.attachment
  -url = cl_image_path @wine.picture.key
  - if @wine.color == "Rouge"
    .cover-picture.wine-picture.red-border{style: "background-image:url(#{url})"}
  - elsif @wine.color == "Blanc"
    .cover-picture.wine-picture.white-border{style: "background-image:url(#{url})"}
  - elsif @wine.color == "Rosé"
    .cover-picture.wine-picture.rose-border{style: "background-image:url(#{url})"}
      = cl_image_tag @wine.picture.key, id: "wine-picture"

%h3= @wine.name
.wine-show-reviews
  .wine-show-review#average-review{style: "background-image:url(#{asset_path("review_average")})"}
    = @wine.average_review
  - @wine.wine_reviews.each do |wine_review|
    - asset_path = asset_path("review_#{wine_review.reviewer.name.downcase}")
    .wine-show-review{style: "background-image:url(#{asset_path})"}
      = wine_review.review
- if !@wine.domain.blank?
  %p= "Domaine : #{@wine.domain}"
- if !@wine.variety.blank?
  %p= "Cépage : #{@wine.variety}"
