<!DOCTYPE html>
<html>
  <head>
    <title>Gougeres</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('cheese.png') %>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>

  <body>
    <div class="container">
      <%= yield %>
      <div class="menu">
        <div class="menu-button menu-item">
          <i class="fa fa-ellipsis-v"></i>
        </div>
        <div class="menu-item pop-up invisible" data-menu-open="false" id="menu-wine">
          <%= link_to wines_path do %>
            <i class="fas fa-wine-glass"></i>
          <% end %>
        </div>
        <div class="menu-item pop-up invisible" data-menu-open="false" id="menu-food">
          <%= link_to recipes_path do %>
            <i class="fas fa-utensils"></i>
          <% end %>
        </div>
        <div class="menu-item pop-up invisible" data-menu-open="false" id="menu-edit">
          <%= link_to admin_root_path do %>
            <i class="fa fa-pen"></i>
          <% end %>
        </div>
        <div class="menu-item pop-up invisible" data-menu-open="false" id="menu-home">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
